@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap");

* {
  font-family: "Inter", "Poppins", sans-serif;
}

#navtext {
  color: #d0e7d2;
  font-size: 23px;
}

body {
  background-color: #e5c3a6;
}

#About {
  background-color: #4b527e;
  padding: 100px;
  color: #fff;
}

#desc {
  background-color: #fff;
  transition: 0.5s;
}

#desc p {
  color: #4b527e;
  transition: 0.5s;
}

#desc h4 {
  color: #4b527e;
  transition: 0.5s;
}

#desc:hover {
  transform: scale(1.06);
}

#pageInfo {
  margin: 3px;
}

.btn {
  color: white;
  background-color: #213555;
  transition: 0.4s;
  border-radius: 30px;
}
.btn:hover {
  background-color: #adc4ce;
  color: black;
}

#containercard {
  background-color: #4b527e;
}
